/* Main Container */
.upload-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease-in-out;
}

/* Layout for the logout button */
.logout {
    text-align: right;
    padding: 10px;
}

/* Logout button style */
.logout-button {
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
    background-color: #e53935;
    transform: scale(1.05);
}

/* Title styling */
.upload-title {
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #483EA8;
    animation: fadeIn 1s ease-out;
}

/* Card styling */
.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Drop area styling */
.drop-area {
    background-color: rgba(203, 208, 240, 0.3);
    border: 2px dashed rgba(56, 78, 183, 0.5);
    padding: 20px;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s ease-in-out;
}

.drop-area:hover {
    background-color: rgba(203, 208, 240, 0.5);
}

/* File upload label styling */
.file-upload-label {
    display: block;
    color: blue;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.file-upload-label:hover {
    color: darkblue;
}

/* Upload button styling */
.upload-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.upload-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.upload-button:disabled {
    opacity: 0.5;
    cursor: default;
}

/* Remove file button styling */
.remove-file {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 2px;
    color: #f44336;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s;
}

.remove-file:hover {
    color: #b71c1c;
}

/* Result container styling */
.result {
    background-color: #5c52ee;
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    transition: background-color 0.3s;
    animation: slideInFromLeft 1s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
